/* ----------------- */
/* Particles Background */
/* ----------------- */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ustaw wysokość na 100% widocznego obszaru */
    z-index: -1; /* Upewnij się, że jest w tle */
    pointer-events: none; /* Wyłącz interakcje z tłem */
    background: linear-gradient(135deg, #0d1117, #161b22);
}
